<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">ajouter notebook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contenu</ion-label>
        <ion-input formControlName="contenu" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Enregistrer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>