<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
     <ion-header>
       <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button class="bordered">
            <ion-menu-button menu="main-menu">
              <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
          </ion-button>
        </ion-buttons>
         <ion-title>Menu</ion-title>
       </ion-toolbar>
     </ion-header>
     <ion-content>
       <div class="menu-header-bg"></div>
       <div class="header-content">
         
          <ion-label>
            <h2 style="font-size: 219%; ">DocHealth</h2>
            <p slyle="font-size: 70%; ">votre cahier de santé</p>
          </ion-label>
       </div>
       
        <ion-list class="menu-items">
          <ion-menu-toggle>
             <ion-items > 
            <ion-button class="borde"  routerLinkActive="tab-selected" routerLink="/home">
              ACCUEIL<ion-icon name="home" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
         
          <ion-menu-toggle>
            <ion-items >
            <ion-button class="borde" routerLinkActive="tab-selected" routerLink="/contact">
              CONTACT<ion-icon name="call" slot="start" ></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
          
          <ion-menu-toggle>
            <ion-items routerLink="/rendez-vous">
            <ion-button class="borde">
              RENDEZ-VOUS<ion-icon name="pulse" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
          
            <ion-menu-toggle>
              <ion-items routerLink="/notebook">
            <ion-button class="borde">
              NOTEBOOK <ion-icon name="medkit" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
            </ion-menu-toggle>

          <ion-menu-toggle>
              <ion-items routerLink="/propos">
            <ion-button class="borde">
              A PROPOS<ion-icon name="document" slot="start" ></ion-icon>
            </ion-button>
          </ion-items><br>
            </ion-menu-toggle>

        </ion-list>
        
     </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>



