
<ion-header>
  <ion-toolbar>
    <ion-title>
     Les jours des rendez-vous
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-calendar [(ngModel)]="date"
      (onChange)="onChange($event)"
      [type]="type"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>

  </div>

  <div class="ion-padding">

    <ion-calendar [(ngModel)]="dateMulti"
        [options]="optionsMulti"
        [type]="type"
        [format]="'YYYY-MM-DD'">
    </ion-calendar>
    
  </div>
  <div class="ion-padding">

    <ion-calendar [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="'YYYY-MM-DD'">
    </ion-calendar>
    
  </div>
  
</ion-content>