<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title><h1 style="color:rgb(59, 187, 238)">A Propos De Nous</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>
  <h1 style="margin-top: 24px;
  font-size: 26px;
  text-align: center;"> Application DocHealth &copy; </h1><br><br><br>
  <div><img class="im" src="./assets/img1.png" >
  <p style="text-align: center;
  font-size: 108%;
  font-weight: bold;">Version 0.0.1 <br> Janvier 2021</p>
</div>
  <br>

  <p style="padding: 5%;
  font-size: 113%;
  font-weight: bold;
  color: #000000;">
  -Nous avons fait le choix de créer un carnet de santé d'une part pour répondre aux différents besoins ou envies d nos client et d'autre part, pour pouvez sauvegarder et gérer les informations médicales.
 </p>
  <br>
  <h2>Conception et développement</h2>

 <h5 style="font-size: 17px;
 text-align: center;">
  -l'équipe : LAKHAL Ikram & Zaineb BELAID 
 </h5>
  <br>
  
  
 
</ion-content>

