ion-header {

    ion-toolbar, ion-item {
        --background: #ffffff;
        background: rgba(83, 236, 247, 0.719);
        padding: 10px;
    }

    ion-toolbar {
        .bordered {
            --color: #64c5eb;
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #3ea8e6, -5px -5px 10px #dbf1f3;
        }
    }
    ion-title {
        ion-title {
            color: #3875d8;
            text-align: center;
      }
 }
}

ion-content {
    --background: linear-gradient(#bcd7ff,#147cad);
   .im{
    border: #000000;
    border-style: solid;
    border-radius: 72%;
    margin-left: 114px;
    width: 128px;
    height: 90px;
    ;
 }
   .est {
        width: 3000px;
        height: 100px;
        background-position: 100%;
        
   }
   h2{
       margin-left: 5%;
   }
 p, h1 {
     animation-duration: 3s;
     animation-name: slidein;

     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-bottom: -10%;
     font-style: oblique;
 }
 @keyframes slidein {
     from{
         margin-left: 100%;
         wight: 300%
     }
     to {
         margin-left: 0%;
         width: 100%;
     }
     
 }
}

   