<ion-header>
  <ion-toolbar color="secondary"class="ios hydrated">
     <ion-buttons slot="start"> <ion-back-button defaultHref='contact'></ion-back-button> 
        <ion-title  class="ios title-ios hydrated">Nouveau contact</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content> 
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
    <br><br>
      <ion-item> 
        <ion-avatar slot="start">
          <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
        </ion-avatar>
        <ion-label style="color:rgb(22, 2, 114);font-weight: 550;" >Ajouter</ion-label>
      
      </ion-item>

      <ion-item>
        
        <ion-input  style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" placeholder="*Nom ou Libille" required="required"  formControlName="name" type="text" ></ion-input>
      </ion-item>
      
      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" placeholder="*Prénom" required="required"  formControlName="prenom" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" required="required" placeholder="*Dentiste/psychiatre.." formControlName="structure" type="text" ></ion-input>
      </ion-item>
        <br><br>
      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;"   placeholder=" Fix  +2125xxxxxx" formControlName="fix" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" required="required" placeholder=" *N°télè +212xxxxxxxxx" formControlName="portable" type="text" >
        </ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;"   placeholder="Fax" formControlName="fax" type="text" >
        </ion-input>
      </ion-item>
      <br><br>
      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;"   placeholder="Adresse" formControlName="adresse" type="text" >
        </ion-input>
      </ion-item>

      <ion-item>
       
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;"  placeholder="Email" formControlName="email" type="text" >
        </ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" placeholder="Site" formControlName="site" type="text" >
        </ion-input>
      </ion-item>
      <br><br>
      <ion-item>
        
        <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" placeholder="Note"formControlName="note" type="text" >
        </ion-input>
      </ion-item>
 
  <br> <br>

      <ion-row>
        <ion-col>
          <ion-button  style="padding-left: 25%;
          padding-right:25%;
          font-size: 20px;
          font-family: initial;" type="submit" (click)="showAlert()" shape="full" routerLink="/contact" expand="block">Enregistrer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
