<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title><h1> carnet de santé</h1>
   
    </ion-title>
  </ion-toolbar>
 
  
  <ion-item *ngFor="let booking of Bookings" >
    <div class="item-note" item-end>
      <button ion-button clear [routerLink]="['/edit-formu/', booking.$key]">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>
    </div>
    
  </ion-item>

  
</ion-header> 
 
<ion-content>
  <br>
  <ion-item *ngFor="let booking of Bookings">
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRku-od42ZteMyr_3cjSqJwhjGCSF2X9CjOWQ&usqp=CAU">
    </ion-avatar>
  </ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label>
   <h1> Bonjour,</h1>  {{booking.pernom}} {{booking.nom}}
 </ion-label>
</ion-item>

  <ion-item style=" color: #f51e5f;">
  <ion-label style="font-size: 18px; font-weight: 550;">
         Vos information de santé
   </ion-label>
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Age      
      </ion-label>   
        {{booking.daten}}
      
    </ion-item>

      <ion-item *ngFor="let booking of Bookings">
        <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Adresse      
        </ion-label> 
          {{booking.adresse}}
      
      </ion-item>

      <ion-item *ngFor="let booking of Bookings">
        <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Email      
        </ion-label> 
          {{booking.email}}     
    </ion-item>

    <ion-item></ion-item>

     <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Taille:    
      </ion-label> 
          {{booking.taille}}
      
    </ion-item>
   
      <ion-item *ngFor="let booking of Bookings">
        <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Poids:    
        </ion-label>
          {{booking.poids}}
      
    </ion-item>

    

    <ion-item style=" color: #f51e5f;">
      <ion-label style="font-size: 18px; font-family: initial;font-weight: 550;">
        ALLERGIES
      </ion-label>
      </ion-item>
      
      <ion-item *ngFor="let booking of Bookings">
        <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Médicaments    
        </ion-label>
        {{booking.alrgone}}
    
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Asthme    
      </ion-label>
        {{booking.alrgtow}}
    
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Peau,Eczema...    
      </ion-label>
        {{booking.alrgtree}}
    
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Aliments    
      </ion-label>
        {{booking.alrgfour}}
    
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Insectes    
      </ion-label>
        {{booking.alrgfive}}
   
  </ion-item>

   <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Rhume des foins    
    </ion-label>
        {{booking.alrgsix}}
    
  </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Autres    
      </ion-label>
       {{booking.alrgseven}}
    
  </ion-item>

  <ion-item style=" color: #f51e5f;">
    <ion-label style="font-size: 18px; font-family: initial;font-weight: 550;">
      REGIME
    </ion-label>
    </ion-item>

    <ion-item *ngFor="let booking of Bookings">
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Régime 1    
      </ion-label>
      {{booking.rgmone}}
  
</ion-item>

  <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Régime 2    
    </ion-label>
      {{booking.rgmtow}}
  
  </ion-item>

  <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Régime 3    
    </ion-label>
      {{booking.rgmtree}}
  
</ion-item>

  <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Régime 4    
    </ion-label>
      {{booking.rgmfour}}
 
</ion-item>

<ion-item style=" color: #f51e5f;">
  <ion-label style="font-size: 18px; font-family: initial;font-weight: 550;">
       SANDES
  </ion-label>
  </ion-item>

 <ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Premiere type de sonde     
  </ion-label>
      {{booking.sondeone}}
  
</ion-item>

  <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Deuxième type de sonde     
    </ion-label>
     {{booking.sondetow}}
  
</ion-item>

  <ion-item *ngFor="let booking of Bookings">
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Troixièmes type de sonde     
    </ion-label>
    {{booking.sondetree}}

</ion-item>


<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">quatrèmes type de sonde     
  </ion-label>
   {{booking.sondefour}}

</ion-item>

<ion-item style=" color: #f51e5f;">
<ion-label style="font-size: 18px; font-family: initial;font-weight: 550;">
  PROTHESES
</ion-label>
</ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Premiere type du Prothese     
  </ion-label>
  {{booking.proone}}

</ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Deuxième type du Prothese     
  </ion-label>
  {{booking.protow}}

</ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Troixièmes type du Prothese     
  </ion-label>
  {{booking.protree}}

</ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">quatrèmes type du Prothese     
  </ion-label>
  {{booking.profour}}

</ion-item>
<ion-item></ion-item>

<ion-item *ngFor="let booking of Bookings">
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">Type de maladie mentale     
  </ion-label>
  {{booking.Trpsy}}

    </ion-item>
<br> <br> <br>
    

  
</ion-content>