ion-header {

  ion-toolbar, ion-item {
      --background: #ffffff;
      background: #74c7ee;
      padding: 4px;
  }

  ion-toolbar {
      .bordered {
          --color: #46a2df;
          --border-radius: 10px;
           --box-shadow: 5px 5px 10px #20aef0, -5px -5px 10px #dbf1f3;
       }
  }
  ion-title {
      color: #46a2df;
      text-align: center;
}
  
}
ion-content {

    background: linear-gradient(#46cddf,#3875d8);
} 
button {
    margin-left: 715%; 
}