
<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide style="background: linear-gradient(rgb(82 229 236 / 36%), rgb(4 112 220 / 85%)) 0% 0% / cover no-repeat, url(./assets/images/medicine1.jpg);
    width: 360px;
    background-repeat: no-repeat;
    background-position: center;"> 
     
      <h1 style="color: #ffff; font-size:35px;font-weight:bold">
       Doc Health <ion-icon style="color: #ffff; font-size:35px" name="leaf-sharp"></ion-icon>
      </h1>
      <p style="font-size:27px">Une application qui vous accompagne au quotidien</p>
     
    </ion-slide>
    <ion-slide style="background: linear-gradient(rgb(15 239 128 / 66%), rgb(0 188 212 / 77%)) 0% 0% / cover no-repeat, url(./assets/images/doctor.jpg); background-size: cover; background-repeat: no-repeat;"> 
      
      <ion-icon name="calendar-sharp"></ion-icon>
      <p>Préparez idéalement vos rendez-vous santé</p>
    
    </ion-slide>
    <ion-slide style="background: linear-gradient(rgb(240 47 194 / 57%), rgb(96 148 234 / 91%)) 0% 0% / cover no-repeat, url(./assets/images/side-view.jpg); background-size: cover; background-repeat: no-repeat;">
      <ion-icon name="bookmarks-sharp"></ion-icon>
      <p>Enregistrez vos contacts santé</p>
      
    </ion-slide>
    <ion-slide style="background: linear-gradient(rgb(140 39 202 / 76%), rgb(234 96 96 / 84%)) 0% 0% / cover no-repeat, url(./assets/images/capsules.jpg); background-size: cover; background-repeat: no-repeat;">
      
      <ion-icon name="bandage-sharp"></ion-icon>
      <p style="font-size:29px ;padding: 16px">Enregistrez vos informations médicales  </p>
  
      <ion-button  color="danger" routerLink="/make-formu" type="button"(click)="showAlert()" >Démarrer</ion-button>
  
    </ion-slide>
  </ion-slides>
  </ion-content>
